<div class="container">
    <h1>Want to delete your account?</h1>
    <p>We are sorry to see you leaving..</p>
    <form class="edit" method="post">
        <button type="submit">Delete Account</button>
        <a class="log-in" href="register">Back to register</a>
        <p class="error-meesage">{{errorMessage}}</p>
    </form>
    <h1 class="confirmation">{{confirmation}}</h1>
</div>