<h1>You can Log in here.</h1>

<form class="register">
    <input type="text" name="last" size="15" />
    <label> Email Address </label>
    <input type="text" name="lastname" size="15" />
    <label> Password </label>
    <input type="button" class="register-button" value="LOG IN" />
</form>