<div class="petition-body">

    <h1>Sing our petition to ask our Government, to commit to a strategy that
        stops the devastating
        <a href="https://en.wikipedia.org/wiki/Ocean" target="_blank">marine
            pollution</a>. The ocean is the heart of the planet. An incredible,
        dynamic ecosystem, that provide jobs, a sustainable supply of food,
        clean energy, awe-inspiring nature and so much more. Let's keep it
        healthy!
    </h1>

    <form method="post">
        <!--<input type="text" name="first" size="15" />
        <label> First Name </label>
        <input type="text" name="last" size="15" />
        <label> Last Name </label>-->
        <input type="hidden" id="hiddenInput" name="hiddenInput" />
        <canvas id="canvas" width="580" height="90"></canvas>
        <button class="button-petition">SUBMIT</button>
    </form>
    <p class="error-meesage">{{errorMessage}}</p>
</div>