<div class="container-petition">
    <div class="petition-body">
        <p>Sing our petition to ask our Government, to commit to a strategy that
            stops the devastating
            <a href="https://en.wikipedia.org/wiki/Ocean" target="_blank">marine
                pollution</a>. The ocean is the heart of the planet. </br>An
            incredible, dynamic ecosystem, that provide jobs, a sustainable
            supply of food, clean energy, awe-inspiring nature and so much more.
            Let's keep it healthy!
        </p>

        <form method="post">
            <input type="hidden" id="hiddenInput" name="hiddenInput" />
            <canvas id="canvas" width="400" height="190"></canvas>
            <button class="button-petition">SUBMIT</button>
        </form>
        <p class="error-meesage">{{errorMessage}}</p>
    </div>
</div>