<h1>Now please just tell us little bit more about you</h1>

<form class="register" method="post">
    <input type="text" name="age" size="15" />
    <label> Age</label>
    <input type="text" name="city" size="15" />
    <label> City</label>
    <input type="text" name="homepage" size="15" />
    <label> Homepage</label>
    <button>CONTINUE</button>
    <p class="error-meesage">{{errorMessage}}</p>
</form>