<h1>Because the ocean belongs to everyone – and to no one – too many have taken
    too much. Join our campaign against the
    <a href="https://en.wikipedia.org/wiki/Ocean" target="_blank">marine
        pollution</a>
    today!
</h1>

<form class="register">
    <input type="text" name="first" size="15" />
    <label> First Name </label>
    <input type="text" name="last" size="15" />
    <label> Last Name </label>
    <input type="text" name="lastname" size="15" />
    <label> Email Address </label>
    <button>SING UP</button>
</form>

<p class="log-in">if you are already a member please <a href="/login">log in</a></h1>