<div class="container">
    <h1>YOUR IMPACT BEGINS TODAY</h1>
<p>A wide range of pollution, from plastic pollution to light pollution, affects marine ecosystems. Because the ocean belongs to everyone – and to no one – too many have taken
    too much. Join our campaign against the
    <a href="https://en.wikipedia.org/wiki/Ocean" target="_blank">marine
        pollution</a>
    today!
</p>

<form class="register" method="post">
    <p class="error-meesage">{{errorMessage}}</p>
    <label> First Name: </label>
    <input type="text" name="first" size="15" />
    <label> Last Name: </label>
    <input type="text" name="last" size="15" />
     <label> Email Address: </label>
    <input type="text" name="email" size="15" />
    <label> Password:</label>
    <input  name="password" type="password" autocomplete="off" size="15" />
    <button>SING UP</button>
</form>

<p class="log-in">if you are already a member please <a href="/login">log in</a></h1>
</div>
