<div class="signers-body">
    <h1>Thank you very much for being part of and supporting our initiative!<br
        />
        The names you see below have signed this petition as well.
    </h1>
</div>