<div class="container">
    <div class="thanks-body">
        <h1 class="thanks-head">Thanks for signing our petition!</br>To support the ocean recovery!</h1></br><p> By
            becoming an Ocean Hero and taking action in your own life, that will
            make a difference to the health of seas.
        </p>
        <img src={{sigUser}} alt="" class="img-signature" />
        <a class="link" href="signers"><p>See the total of signers here: {{numUser}}</p></a>
        <a class="link" href="edit"><p>Edit your profile</p></a>
        <a class="link" href="delete"><p>Delete your signature</p></a>
    </div>
</div>