<div class="thanks-body">
    <h1>Thanks for signing our petition! To support the ocean recovery!
        <br />By becoming an Ocean Hero and taking action in your own life, that
        will make a difference to the health of seas.
    </h1>
    <img src={{sigUser}} alt="" />
    <h1>This are the number of signers: {{numUser}}</h1>
</div>